
@{
    Layout = "_Layout_Select";
    ViewData["Title"] = "Selection Result";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>SelectionResult</h1>
        <p>This page will list the selection result.</p>
    </body>
</html>