@model IEnumerable<InstrumentSelector.Models.Instrument>
@{ 
    Layout = "_LayoutSelect";
    ViewData["Title"] = "Selection Result";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>Selection Results</h1>
        <p>Below are your results. Navigate to the instrument pages for more information.</p>
        <p>
            @foreach (Instrument i in Model)
            {
                <h2>Instrument: @i.DescriptionText</h2>
                <p>Range: @i.RangeDescription</p>
                <p>Tone Quality: @i.ToneDescription</p>
            }
        </p>
    </body>
</html>