@{
    ViewData["Title"] = "Brass Instruments";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>Brass Instruments</h1>
        <p>This page will contain the brass instrument selections:
            trumpet, horn, trombone, euphonium, tuba.</p>
    </body>
</html>