@model InstrumentSelector.Models.Comment
@{
    ViewData["Title"] = "Woodwind Instruments";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>Add a Comment</h1>
    </div>
    <form asp-action="Comment" method="post>
        <div>
            <label asp-for="Instrument">Instrument</label>
            <input asp-for="Instrument" />
        </div>
        <div>
            <label asp-for="CommentText">Comment</label>
            <textarea asp-for="CommentText"></textarea>
        </div>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
        </div>
        <button type="submit">Post</button>
    </form>
    <div>

    </div>
</body>
</html>
