@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center">
            <h1>Instrument Selector Home</h1>
        </div>
        <p>This site will allow you to take a short quiz and see which wind instruments match 
        your selections. Navigate to Selection for the quiz. Then visit the instrument pages 
        (Instruments for the overview, then further separated into Woodwind and Brass) for 
        more information about the wind instruments included on this site. On the instrument pages, 
        you can also post comments about your experiences with the instruments.</p>
    </body>
</html>