@{
    ViewData["Title"] = "Instrument Overview";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>Instrument</h1>
        <p>This page will explain the parameters some more and link to 
            WoodwindInstrument and BrassInstrument pages</p>
    </body>
</html>