@{
    ViewData["Title"] = "Instrument Overview";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>Instrument</h1>
        <p>The musical instruments on this site are wind instruments included in concert bands.
        To see more information about flute, oboe, clarinet, saxophone, or bassoon, navigate to the
        Woodwinds page. For more information about trumpet, French horn, trombone, euphonium, or
        tuba, go to the Brass page.</p>
    </body>
</html>