@{
    ViewData["Title"] = "Woodwind Instrument";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>WoodwindInstrument</h1>
        <p>This page will contain the woodwind instrument selections:
            flute, oboe, clarinet, saxophone, bassoon</p>
    </body>
</html>